* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #BF785E;
    --secondary-color: #BFB9B4;
    --tertiary-color: #204F59;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /*
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-position: 80%;
    z-index: 9999;
    */
}

header img {
    max-width: 10%;
    margin: 0;
}

header nav {
    margin: 8px;
}

header a{
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 25px;
    font-size: 20px;
    vertical-align: middle;
}

section {
    margin: 50px;
}

.flex-row{
    display: flex;
}

.hero {
    margin: 0;
    background-image: url(../images/hero.jpg);
    min-height: 300px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero h1 {
    font-size: 28px;
    padding: 15px 25px;
}

.flex-row {
    display: flex;
}

.section-title {
    border-right: 8px solid var(--primary-color);
    margin: 50px 50x;
    padding-right: 50px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    font-size: 32px;
    flex: 1;
}

.about {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
}

.about-info {
    margin: 20px 0;
    flex: 2 70%;
    line-height: 1.5;
}

.about-info img {
    width: 200px;
    margin: 10px 35px;
    float:left;
}

.about-text {
    flex: 1;
    margin: 0 35px;
}

.about-text h3 {
    font-size: 24px;
    color: var(--tertiary-color);
}

.about-text p {
    font-size: 18px;
    font-weight: 400;
}

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects {
    margin: 10px 0;
    flex: 2 70%;
}
.project {
    margin: 20px;
    flex: 1;
    background: var(--secondary-color);
    color: var(--tertiary-color)
}

.project-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px; 
}

.project-row img {
    width: 100%;
}

.project-info {
    padding: 15px;
    text-align: center;
}

.project-info h3 {
    font-size: 24px;
    font-weight: 600;
}

.project-info h4 {
    font-weight: 400;
}

.contact {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
}

.contact-info {
    margin: 10px 35px;
    text-align: left;
    line-height: 2.5;
    flex: 1;
}
.contact-info a {
    text-decoration: none;
    color: var(--tertiary-color);
}

.contact-info p {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 600;
}

footer {
    background: var(--tertiary-color);
    color: whitesmoke;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 50px;
}

footer p {
    font-size: 16px;
    font-weight: 600;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 10px;
        justify-content: center;
        position: relative;
    }
    
    header a {
        text-align: center;
    }
    
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    
    header nav ul li a {
        font-size: 24px;
    }
    
    section {
        margin: 25px;
    }

    .section-title {
        border-bottom: 8px solid var(--primary-color);
        border-right: 0px;
        padding: 20px;
        margin: 20px 0;
        justify-content:center;
        text-align: center;
    }
    
    footer h2 {
        position: absolute;
        text-align: center;
        width: 100%;
    }

    .about {
        width: 100%;
        justify-content: center;
    }

    .about-info {
        width: 100%; 
        margin: 0;
        justify-content: space-between;
        flex: 2 70%;
        line-height: 1.5;
    }
    
    .about-info img {
        width: 25%;
        margin-left: 35px;
        flex: 1;
    }
    
    .about-text {
        width: 80%; 
        flex: 1;
    }

    .project-row {
        margin: 15px;
    }


    .contact {
        width: 100%;
        justify-content: center;
    }

    .contact-info {
        width: 100%;
        margin: 10px;
        text-align: center;
        flex: 1 100%;
    }

}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 768px) {}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    section {
        margin: 15px;
    }

    .project-info {
        padding: 10px;
        text-align: center;
    }
    
    .project-info h3 {
        font-size: 18px;
    }
    
    .project-info h4 {
        font-size:16;
    }

    .contact-info p {
        font-size: 16px;
    }
}